
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Ürünler hakkında bilgilere burdan ulaşabilirsiniz
			<small>Ana Sayfa</small>
		</h1>
		<p>Stoktaki ürünlerin bilgisi ve detayları bu alanda bulunur.</p>
	</div>
</div>