@model test3.Models.StokEntity.StokUrunlerr

<!DOCTYPE html>

<html>

<body>
	
		<div class="form-group">
			@Html.LabelFor(m => m.UrunAd)

			<br />


		</div>
		<div>
			<button class="btn btn-warning ">Güncelle</button>
		</div>
	
</body>
</html>
