@using PagedList
@using PagedList.Mvc
@using test3.Models.StokEntity;
@model PagedList.IPagedList<StokKategori>
@{
	Layout = "~/Views/Shared/_Personel.cshtml";
}
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<div>
		<table class="table table-bordered">
			<tr>
				<th>Kategori ID</th>
				<th>Kategori Adı</th>
				<th>Sil</th>
				<th>Güncele</th>
			</tr>
			<tbody>
				@foreach (var kate in Model)
				{
					<tr>
						<td>@kate.KategoriID</td>
						<td>@kate.KategoriAd</td>
						<td>@Html.ActionLink("Sil Butonu", "KategoriSil", new { id = kate.KategoriID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istiyormusunuz ?')" })</td>
						@*<td><a href="/Kategori/KategoriSil/@kate.KategoriID" class="btn btn-danger">Sil</a></td>*@
						<td><a href="/Kategori/KategoriGetir/@kate.KategoriID" class="btn btn-success">Güncelle</a></td>
					</tr>
				}
			</tbody>
		</table>
		@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
		@*@Html.ActionLink("Kategori Ekle", "KategoriEkle", "Kategori")*@
		<a href="/Kategori/KategoriEkle/" class="btn btn-primary">Kategori Ekle</a>
	</div>
</body>
</html>
